.item {
  display: flex;

  font-size: 1.5rem;
  margin-bottom: 3px;
  padding: 5px 7px;
  height: 34px;
  border-radius: 3px;

  background: var(--background, black);
  color: var(--color, white);

  .button, .icon {
    width: 1.2rem;
    height: 1.2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__handle {
    margin-top: 6px;
  }

  .button--trash {
    margin-top: 5px;
    padding: 0 1.3rem;
  }

  &:not(:hover) .button--trash {
    @include devices (tablet, desktop) {
      display: none;
    }
  }

  &.sortable-ghost {
    visibility: hidden;
  }

  &__handle {
    cursor: move;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  &.has-focus {
    background: white;
    color: black;
  }

  .has-highlighted &:not(.is-highlighted):not(.item--add):not(.has-focus):not(:hover) {
    outline: 1px solid black;
    outline-offset: -1px;
    background: transparent;
    color: black;
    opacity: 0.1;
  }

  &__name {
    @include no-select;
    cursor: text;
    flex: 1;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;

    &:focus {
      outline: 0;
      text-overflow: none;
    }
  }

  &__colors {
    input[type='checkbox'] {
      @include reset-button;
      pointer: relative;
      cursor: pointer;
      margin-top: 4px;
      height: 1.4rem;
      width: 1.4rem;
      margin-left: 3px;
      border-radius: 100%;
      background: var(--color);

      // Add a dot inside checked colors
      &:checked {
        outline: 0.5rem solid var(--color);
        outline-offset: -0.5rem;
        background: black;
      }
    }
  }

  // Hide unchecked colors when not hovering parent item
  &:not(:hover) &__colors *:not(:checked) { display: none; }

  // Hide dot on checked colors when not hovering parent item
  &:not(:hover) &__colors *:checked {
    outline: 0;
    background: var(--color);
  }
}
