.timeline {
  position: relative;
  display: flex;
  flex-direction: column;

  &__scrollable {
    @include invisible-scroll;
    flex: 1;
  }

  &__void {
    @include invisible-scroll;

    border-top: 1px solid $color-border;
    padding: 1.5rem;
    display: flex;
    gap: 5px;

    .item {
      --start: 0 !important;
      --end: 0 !important;
      min-width: 20rem;
      max-width: 20rem;

      .item__resize-handle {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: min-content;
    min-height: 100%;
  }

  &__months {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 1.5rem;
    height: 4.9rem;
    background: $color-background;
  }

  &__month {
    display: flex;
    position: relative;

    border-left: 1px solid $color-border;
    &:first-child { border: 0; }
    &:first-child::before { margin-left: -1.5rem; }

    &[data-month]::before {
      content: attr(data-month);

      position: absolute;
      z-index: 1;

      font-variant: small-caps;
      font-weight: normal;
      text-transform: lowercase;
      font-size: 1.4rem;

      top: 0;
      width: 100%;
      padding: 1.5rem;
      background: $color-background;
    }
  }

  &__week {
    flex: 1;
    min-width: 5rem;
  }

  &__ticks {
    @include inset(0);
    pointer-events: none;
    display: flex;
    padding: 0 1.5rem;
    bottom: 0rem;
  }

  &__ticks &__week {
    border-left: 1px dashed $color-border;
    &:first-child { border: 0; }
  }

  &__current {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px solid #ff6188;
    left: calc(100% * var(--start));
  }

  &__items {
    flex: 1;
    padding: 0 1.5rem 1.5rem;
  }

  .item {
    margin-left: calc(100% / 48 * (var(--start)));
    width: calc(100% / 48 * (var(--end) - var(--start)));

    &.sortable-ghost {
      width: 100%;
      margin-left: 0;
    }

    &.is-small .item__colors {
      display: none;
    }
  }

  &__items .item__content {
    position: sticky;
    left: 1rem;
    padding-right: 1.5rem;
    max-width: min-content;
  }
}
